{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toDO</title>
    <!-- <link rel="stylesheet" href="./styles/chack-box.css"> -->
    <link rel="stylesheet" href="{%static 'styles/chack-box.css'%}">
    <!-- <link rel="stylesheet" href="./styles/index.css"> -->
    <link rel="stylesheet" href="{%static 'styles/index.css'%}">
</head>
<body>
    <section class="wrapper">
        <div class = "create_container">
            <input id = "create_input" type = "text" placeholder = "напиши сюда новую задачу"></input>
            <button class = "create_button">Добавить</button>
        </div>
        <div class = "todo_container">
            <div class = "todo_item">
                <div class = "todo_item_header">
                    <label class = "checkbox_container">
                        <input type = "checkbox"/>
                        <span class = "checkmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>
                <div class ="todo_item_footer">
                    <p>17.11.2020 <span>17:30</span></p>
                    <div class ="action_buttons">
                        <img src = "./icon/delete-sign.png" />
                        <img src = "./icon/a9d17867cb60ec9bf6aa046f59ab08d3.jpeg" />
                    </div>
                </div>
            </div>
            <div class = "todo_item_market">
                <div class = "todo_item_header">
                    <label class = "checkbox_container">
                        <input type = "checkbox"/>
                        <span class = "checkmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>
                <div class = "todo_item_footer">
                    <p>17.11.2020 <span>17:30</span></p>
                    <div class ="action_buttons">
                        <img src = "./icon/checkmark--v1 — копия.png" />
                        <img src = "./icon/a9d17867cb60ec9bf6aa046f59ab08d3.jpeg" />
                    </div>
                </div>
            </div>
            <div class = "todo_item_done">
                <div class = "todo_item_header">
                    <label class = "checkbox_container">
                        <input type = "checkbox"/>
                        <span class = "checkmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>
                <div class ="todo_item_footer">
                    <p>17.11.2020 <span>17:30</span></p>
                    <div class ="action_buttons">
                        <img src = "./icon/delete-sign.png" />
                        <img src = "./icon/a9d17867cb60ec9bf6aa046f59ab08d3.jpeg" />
                    </div>
                </div>
            </div>
            <div class = "todo_item_market">
                <div class = "todo_item_header">
                    <label class = "checkbox_container">
                        <input type = "checkbox"/>
                        <span class = "checkmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>
                <div class ="todo_item_footer">
                    <p>17.11.2020 <span>17:30</span></p>
                    <div class ="action_buttons">
                        <img src = "./icon/delete-sign.png" />
                        <img src = "./icon/a9d17867cb60ec9bf6aa046f59ab08d3.jpeg" />
                    </div>
                </div>
            </div>
            <div class = "todo_item">
                <div class = "todo_item_header">
                    <label class = "checkbox_container">
                        <input type = "checkbox"/>
                        <span class = "checkmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>
                <div class ="todo_item_footer">
                    <p>17.11.2020 <span>17:30</span></p>
                    <div class ="action_buttons">
                        <img src = "./icon/delete-sign.png" />
                        <img src = "./icon/a9d17867cb60ec9bf6aa046f59ab08d3.jpeg" />
                    </div>
                </div>
            </div>
            <div class = "todo_item_done">
                <div class = "todo_item_header">
                    <label class = "checkbox_container">
                        <input type = "checkbox"/>
                        <span class = "checkmark"></span>
                    </label>
                    <h4>купить молоко</h4>
                </div>
                <div class ="todo_item_footer">
                    <p>17.11.2020 <span>17:30</span></p>
                    <div class ="action_buttons">
                        <img src = "./icon/delete-sign.png" />
                        <img src = "./icon/a9d17867cb60ec9bf6aa046f59ab08d3.jpeg" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>